@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Love+Ya+Like+A+Sister&display=swap');
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.NavbarLink {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.NavbarLink:hover {
  background-color: #ffeef0 !important; 
}

.NavbarLink.active {
  color: #a02d4f !important;
  font-weight: 700;
}

.myname {
  font-family: 'Annie Use Your Telescope', cursive;
}


.dynamic-gradient {
  background: linear-gradient(-45deg, #f9c5d1, #9796f0, #f6d365, #fda085);
  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
  height: 100vh;
}
.icon {
  animation: logosAnimate 3s ease-in-out infinite;
}
@keyframes logosAnimate {
  0% { transform: translateY(0px); }
  50% { transform: translateY(20px) }
  100% { transform: translateY(0px);}
}